@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: theme('textColor.white');
  --background-color: theme('colors.primary.DEFAULT');
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  user-select: none;
}

@layer base {
  svg {
    flex-shrink: 0;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-track {
    background: theme(colors.third.DEFAULT);
    border-radius: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.43);
    border-radius: 9px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.53);
  }
}
