@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: theme('textColor.white');
  --background-color: theme('colors.primary');
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg {
  flex-shrink: 0;
}
