.waveform ::part(cursor) {
  display: none;
}

.waveform ::part(progress) {
  display: none;
}

@supports (content-visibility: hidden) {
  .waveform ::part(canvases) {
    content-visibility: hidden;
  }
}

@supports not (content-visibility: hidden) {
  .waveform ::part(canvases) {
    display: none;
  }
}
